[access]
	inheritFrom = All-Projects
[submit]
	mergeContent = false
	action = rebase always
[project]
	description = HAL Nexell power repository
[access "refs/*"]
	owner = group user/Choonghyun Jeon (kchhero)
	owner = group user/Sungwoo Park (swpark)
	owner = group user/allan park (mcjino21)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Choonghyun Jeon (kchhero)
	label-Code-Review = -2..+2 group user/Sungwoo Park (swpark)
	label-Verified = -1..+1 group user/Choonghyun Jeon (kchhero)
	label-Verified = -1..+1 group user/Sungwoo Park (swpark)
	push = group user/Choonghyun Jeon (kchhero)
	push = group user/Sungwoo Park (swpark)
	read = group user/Choonghyun Jeon (kchhero)
	rebase = group user/Choonghyun Jeon (kchhero)
	removeReviewer = group user/Choonghyun Jeon (kchhero)
	submit = group user/Choonghyun Jeon (kchhero)
[access "refs/heads/*"]
	create = group user/Choonghyun Jeon (kchhero)
	push = +force group user/Choonghyun Jeon (kchhero)
	pushMerge = group user/Choonghyun Jeon (kchhero)
	read = group user/Choonghyun Jeon (kchhero)
[access "refs/tags/*"]
	push = group user/Choonghyun Jeon (kchhero)
	push = +force group user/Choonghyun Jeon (kchhero)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
